.btn-bottom {
    position: fixed;
    bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 18px
}

.btn-bottom .btn {
    width: 100%;
    padding: 11px 0;
    text-align: center;
    font-size: 18px;
    color: #3F4A4F;
    background-color: #61d25f;
    border-radius: 6px
}

.btn-bottom .disable {
    color: #727b7b;
    background: #e2e2e2
}

.btn-bottom .forget {
    width: 100%;
    text-align: center;
    color: #000000;
    margin-top: 24px;
    font-size: 14px
}

.btn-bottom .forget .forget-btn {
    color: #61d25f
}